@import url( './main.css');
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,500|Work+Sans:700');

body {
	width      : 100%;
	height     : 100%;
	font-size  : 18px;
	font-weight: 300;
	font-family: 'Open Sans',sans-serif;
	overflow   : hidden;
	line-height: 36px;
	color      : #4A4A4A;
}

.screen {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	position          : absolute;
	top               : 0;
	left              : 0;
	width             : 100%;
	height            : 100%;
	z-index           : 100;
	background        : #fff;
}

.screen--canvas {
	z-index: 0;
}

.screen__container {
	width   : 300px;
	margin  : 0 auto;
	position: relative;
}

.info__logo {
	position: absolute;
	top     : 18px;
	left    : 0;
}

.info__title {
	padding-top  : 124px;
	text-align   : center;
	font-weight  : 500;
	margin-bottom: 36px;
}

.info__text {
	margin-top : 18px;
	font-weight: 300;
}

.info__remaining {
	margin-top   : 123px;
	margin-bottom: 36px;
	font-family  : 'Work Sans', sans-serif;
	font-weight  : 700;
	font-size    : 72px;
	text-align   : center;
}

.info__link {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	display           : block;
	margin            : 54px auto 0;
	padding-top       : 3px;
	width             : 260px;
	height            : 45px;
	background-color  : #eee;
	color             : #4A4A4A;
	text-align        : center;
	font-weight       : 500;
	text-decoration   : none;
	position          : relative;
}

.info__link::after {
	content   : '';
	display   : block;
	width     : 100%;
	height    : 5px;
	position  : absolute;
	bottom    : -5px;
	background: #D8D8D8;
}

.info__link:active {
	-webkit-transform: translateY(5px);
	transform        : translateY(5px);
}

.info__link:active::after {
	display: none;
}

.screen--allWin,
.screen--foundBilly {
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
}

.ui {
	width             : 100%;
	height            : 54px;
	background        : #eee;
	opacity           : 1;
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	box-shadow        : 0 1px 2px 0 rgba(0,0,0,0.2);
	position          : absolute;
	z-index           : 1;
}

.canvasContainer {
	width   : 100%;
	height  : calc(100% - 54px);
	position: absolute;
	top     : 54px;
}

.ui__explain {
	text-align        : center;
	padding-top       : 7px;
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
}

.ui__back {
	position           : absolute;
	top                : 0;
	left               : 0;
	width              : 54px;
	height             : 54px;
	border             : none;
	background         : transparent;
	overflow           : hidden;
	text-indent        : -100px;
	-webkit-transition : opacity .3s;
	transition         : opacity .3s;
	background-image   : url('../_img/icons/zoom-out.svg');
	background-position: center center;
	background-repeat  : no-repeat;
}

.ui__coord {
	position          : absolute;
	top               : 8px;
	left              : 50%;
	width             : 35px;
	font-size         : 25px;
	text-align        : center;
	-webkit-transform : translateX(-50%);
	transform         : translateX(-50%);
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
}
