@import url( './main.css');
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,500,700|Work+Sans:700');

body {
	width      : 100vw;
	height     : 100vh;
	overflow   : hidden;
	background : #29b6f6;
	font-size  : 18px;
	color      : #4A4A4A;
	font-family: 'Open Sans', sans-serif;
	line-height: 2.25rem;
	font-weight: 300;
}

.logo {
	background-image : url('../_img/billy/big.png');
	background-repeat: no-repeat;
	display          : block;
	width            : 284px;
	height           : 147px;
	text-indent      : -100%;
	overflow         : hidden;
	position         : absolute;
	top              : 18px;
	left             : 18px;
	z-index          : 1000;
}

.ui {
	position          : absolute;
	top               : 0;
	left              : 0;
	width             : 426px;
	height            : 100%;
	z-index           : 100;
	background-color  : #EEEEEE;
	background-size   : 426px;
	background-repeat : no-repeat;
	-webkit-box-shadow: 1px 0 2px 0 rgba(0,0,0,0.2);
	box-shadow        : 1px 0 2px 0 rgba(0,0,0,0.2);
}

.expand {
	width             : 100%;
	-webkit-transition: width .3s;
	transition        : width .3s;
}

.ui__container {
	position: absolute;
	left    : 18px;
	top     : 18px;
	width   : 390px;
	height  : calc(100% - 36px);
}

.ui__url,
.ui__wifi {
	margin         : 54px auto 0;
	width          : 100%;
	display        : -webkit-box;
	display        : -ms-flexbox;
	display        : flex;
	-ms-flex-pack  : distribute;
	justify-content: space-around;
}

.ui__wifi {
	margin-top: 201px;
}

.wifi__el {
	padding-left: 54px;
	position    : relative;
	font-size   : 25px;
	font-weight : 300;

}

.url__el {
	padding-left: 54px;
	position    : relative;
}

.url__el::before,
.wifi__el::before {
	content          : '';
	display          : block;
	width            : 36px;
	height           : 36px;
	background-size  : contain;
	position         : absolute;
	top              : 0;
	left             : 0;
	background-repeat: no-repeat;
}

.wifi__el--ssid::before {
	background-image   : url('../_img/icons/wifi.svg');
	background-position: center 3px;
}

.wifi__el--key::before {
	background-image   : url('../_img/icons/key.svg');
	background-position: center center;
}

.url__el::before {
	background-image: url('../_img/icons/qr.svg');

}

.ui__text {
	position  : relative;
	width     : 288px;
	margin-top: 72px;
}

.ui__text::after {
	content         : '';
	display         : block;
	position        : absolute;
	top             : -10px;
	right           : -120px;
	background-image: url('../_img/phone.png');
	width           : 120px;
	height          : 120px;
}

.ui__demo {
	position         : absolute;
	bottom           : 0;
	left             : 50%;
	-webkit-transform: translateX(-50%);
	transform        : translateX(-50%);
	width            : 250px;
	height           : 270px;
}

.ui__demo > p {
	position   : absolute;
	top        : 120px;
	right      : -18px;
	font-size  : 1.414em;
	font-weight: 500;
}

.ui__demo > p::after {
	content         : '';
	display         : block;
	position        : absolute;
	top             : -50px;
	left            : -25px;
	width           : 50px;
	height          : 50px;
	background-image: url('../_img/icons/arrow.svg');
}

.canvas {
	width   : calc(100% - 426px);
	height  : 100%;
	position: absolute;
	top     : 0;
	right   : 0;
	z-index : 0;
}

.screen--win {
	position          : absolute;
	top               : 0;
	left              : 0;
	width             : 100%;
	height            : 100%;
	background        : #eee;
	z-index           : 500;
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
}

.win__container {
	width   : 1200px;
	height  : 100%;
	margin  : 0 auto;
	position: relative;
}

.win__title {
	font-family: 'Work Sans', sans-serif;
	font-size  : 72px;
	font-weight: 700;
	text-align : center;
	padding-top: 173px;
	line-height: 72px;
}

.win__subtitle {
	font-weight: 300;
	font-size  : 36px;
	text-align : center;
	margin-top : 30px;
	line-height: 36px;
}

.win__billy {
	position: absolute;
	bottom  : 0;
	left    : 50px;
}

.win__container--small {
	width      : 592px;
	margin-left: 507px;
	margin-top : 61px;
}

.win__actions {
	margin-top: 47px;
}

.win__actions__el {
	margin-top: 30px;
}

.actions__el__title {
	font-size  : 36px;
	font-weight: 700;
	color      : #00A8FB;
}

.actions__el__text {
	margin-top: 6px;
}
